/*!****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/ui/PrimaryButton/PrimaryButton.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************/
/* EditButton.module.css */
.PrimaryButton_button__0nqsO {
    padding: 10px 20px;
    /* border: 2px solid #248543;  */
    border-radius: 10px;
    background-color: #248543;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .PrimaryButton_button__0nqsO:hover {
    background-color: #eaf4ea;
  }
  
  .PrimaryButton_button__0nqsO:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  /* Optionally, if you want to add a disabled class for more custom styling */
  .PrimaryButton_disabled__qx_BK {
    cursor: not-allowed;
    opacity: 0.5;
  }
  
