/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/ui/Sidebar/Sidebar.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.Sidebar_sidebarContainer__XUDpv {
    width: 303px;
    height: 100%;
    display: inline-flex;
    padding: 24px 16px 610px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 31px;
    background: var(--Base-Surface, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);  
  }
  
  .Sidebar_sidebarProfile__PSno1 {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  
  .Sidebar_profilePicture__CGGjd {
    margin-bottom: 62px;
  }
  
  .Sidebar_dropdownButton__kOnjg {
    width: 271px;
    height: 52px;
    margin-top: 10px;
    background-color: #248543;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .Sidebar_dropdownList__ZQYx0 {
    width: 271px;
    margin-top: 10px;
    border-color: #248543;
    background-color: #fff;
    color: #248543;
    border-width: 1px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
    justify-content: space-between;
  }

  .Sidebar_dropdownItem__Xeo1B {
    width: 271px;
    color: #248543;
    padding: 10px 10px 10px 20px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: top;
    justify-content: space-between;
  }
  
  .Sidebar_dropdownIcon__4_Knv {
    margin-left: 8px;
    font-size: 12px;
  }

.Sidebar_sidebarMenu__iRLnL {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .Sidebar_menuItem__z_2eG {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    align-items: left;
    padding: 4px 2px;
    width: 271px;
  }
  
  .Sidebar_menuItems__LOxHK:hover{
    width: 271px;
  }

  /* .selectedMenuItems{
    border-radius: 10px;
    background: #EBFAF0;
    color: #248543;
  } */

  .Sidebar_menuItem__z_2eG:hover {
    background-color: #EBFAF0;
    border-radius: 10px;
  }

  .Sidebar_menuItem__z_2eG svg {
    flex-shrink: 0;
  }
  

  
/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/ui/Logo/Logo.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.Logo_containerLogo__ySX0g{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 9.075px;
}

.Logo_logo__LZI1f{
    display: flex; /* Opsional jika ingin memastikan icon berada di tengah */
    align-items: center;
    width: 34px; /* Sesuaikan ukuran logo */
    height: 34px;
    fill: #248543;
}

.Logo_logoTitle__ZX1te{
    display: flex;
    color: var(--Brand-Primary, #248543);
    font-size: 31.274px;
    font-style: normal;
    font-weight: 600;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/ui/PrimaryButton/PrimaryButton.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************/
/* EditButton.module.css */
.PrimaryButton_button__0nqsO {
    padding: 10px 20px;
    /* border: 2px solid #248543;  */
    border-radius: 10px;
    background-color: #248543;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .PrimaryButton_button__0nqsO:hover {
    background-color: #eaf4ea;
  }
  
  .PrimaryButton_button__0nqsO:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  /* Optionally, if you want to add a disabled class for more custom styling */
  .PrimaryButton_disabled__qx_BK {
    cursor: not-allowed;
    opacity: 0.5;
  }
  
/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/ui/TopBar/TopBar.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.TopBar_header__hTBU_{
    display: flex;
    flex-shrink: 0;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd; 
  }

  .TopBar_searchbar__uuWFx {
    flex: 1 1 50%;
    background-color: #fff; 
    padding: 16px;
    overflow: hidden;
  }
  
  .TopBar_operatorProfile__4d6ET{
    overflow: hidden; 
    margin-right: 1vw;
  }
  
  .TopBar_profile__wcj50{
    overflow: hidden; 
    margin-right: 8vw;
  }

/* TopBar.module.css */
.TopBar_dropdown__WLBFV {
    position: absolute;
    top: 60px; /* Adjust position */
    right: 20px; /* Adjust position */
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 4px;
    width: 400px;
    padding: 20px;
    font-weight: 600;
  }
  
  .TopBar_notificationRow__VMmz2 {
    display: flex;
    width: 381px;
    align-items: center;
    gap: 18px;
    padding: 10px 0px;
  }

  .TopBar_notificationRow__VMmz2 img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
  }

  .TopBar_notificationRow__VMmz2 p {
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }
  
  .TopBar_notificationRow__VMmz2 {
    display: flex;
    align-items: center;
    gap: 12px; 
    margin-bottom: 8px; 
  }
  
  .TopBar_notificationText__1RL9S {
    text-align: left;
    flex: 1;
  }
  
  .TopBar_notificationActionsWrapper__NFbQk {
    margin-top: 8px;
    margin-left: 15%;
    width: 100%; 
    display: flex;
    justify-content: flex-start; 
    gap: 12px; 
  }
  
/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/ui/SearchBar/SearchBar.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.SearchBar_searchBar__hwuLr {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 15px;
    border-radius: 25px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    width: 100%;
    gap: 16px;
  }
  
  .SearchBar_icon__4kOwz {
    width: 20px;
    height: 20px;
    color: #808080; /* Warna abu-abu */
    margin-right: 10px;
  }
  
  .SearchBar_input__fgIoO {
    border: none;
    outline: none;
    font-size: 16px;
    flex: 1;
    color: #333; /* Warna teks */
  }
  
  .SearchBar_input__fgIoO::placeholder {
    color: #b0b0b0; /* Warna placeholder */
  }
  
  .SearchBar_searchBar__hwuLr:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  }
  
  .SearchBar_searchBar__hwuLr:focus-within {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  }
  
/*!****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/ui/DropdownInput/DropdownInput.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************/
.DropdownInput_dropdownfase__PV_GE {
    display: flex;
    position: relative;
    width: 100%;
    /* max-width: 250px; */
    
  }
  
  .DropdownInput_dropdownfaseHeader__HbqJM {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    color: #aaa; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
  gap: 20px;
  }
  
  .DropdownInput_dropdownfaseHeader__HbqJM:hover {
    border-color: #248543;
  }
  
  .DropdownInput_dropdownfaseIcon__646ne {
    color: "#B1B1B4";
    transition: transform 0.2s ease;
  }
  
  .DropdownInput_dropdownfaseIcon__646ne.DropdownInput_rotate__kfw1p {
    transform: rotate(180deg);
  }
  
  .DropdownInput_dropdownfaseList__bnpsf {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0;
    padding: 5px 0;
    background-color: #fff;
    border: 1px solid #248543;
    border-radius: 4px;
    list-style: none;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .DropdownInput_dropdownfaseItem__79FZN {
    padding: 10px 15px;
    color: var(--Text-Text-Primary, #000);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    cursor: pointer;
  }
  
  .DropdownInput_dropdownfaseItem__79FZN:hover {
    background-color: #EBFAF0;
    color: #006400;
  }
  
  .DropdownInput_customInput__A7Mi6 {
    width: calc(100% - 28px); 
    border: none; /* Hilangkan border input */
    outline: none; /* Hilangkan outline biru */
    font-size: 14px;
    color: #333; /* Warna teks */
    background-color: transparent; /* Buat background transparan */
    padding: 0; /* Hilangkan padding tambahan */
  }

  .DropdownInput_dropdowninputSeparator__x_sYj {
    height: 1px;
    background-color: #248543; /* Warna hijau */
    margin: 5px 0;
  }

  .DropdownInput_dropdownContent__wrzW_ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .DropdownInput_dropdownIcon__zI_SP {
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .DropdownInput_placeholder__OYDzk {
    font-size: 14px;
    color: #aaa; /* Warna placeholder */
  }
  
  .DropdownInput_selected__kHxTo {
    color: var(--Text-Text-Tertiary, #333);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  .DropdownInput_addButton__dbtgn {
    margin-left: 10px;
  }

  .DropdownInput_dropdownfieldLabel__fcy57{
    gap: 20px;
  }

  .DropdownInput_dropdownContainer__VKaDv {
    gap: 16px; /* Jarak antar dropdown */
  }
